



@media(max-width: 768px) {

    .flex-items {
        flex-direction: column;
    }

    .flex-items > div {
        padding: 10px;
    }

    .flex-columns .column {
        flex: 100% !important;
    }

    .flex-grid .column {
        flex: 50%;
    }



}

@media(min-width: 1000px) {

    .slider__nav {
        max-height: 350px;
    }

    .section__video {
        width: 360;
        height: 215;
    }

}

@media(min-width: 1200px) {

    .slider__nav {
        max-height: 450px;
    }

}
